<header class=" site-header" style="height:325px; width: 100%;">
	<span style="    background-color: #24353e; border-bottom-left-radius: 5px; border-bottom-right-radius: 5px;">
		<%= image_tag("tendvtrans.png", alt: "Tijger en de Vis") %>
	</span>

</header>

<div class="sticky-wrapper" style="height: 96px;">
	<div class="wrapper nav-wrapper">
  	<nav class="site-nav" role="navigation">
  		<ul class="desktop-nav pos-ul">
	  		<li class="active">
          <%= link_to('Welkom', "#welkom") %>
        </li>
        <li class="glyphicon glyphicon-asterisk bullet"></li>
        <li>
          <%= link_to('Bestel', "#bestel") %>
        </li>
        <li class="glyphicon glyphicon-asterisk bullet"></li>
        <li>
          <%= link_to('Assortiment', "#assortiment") %>
        </li>
        <li class="glyphicon glyphicon-asterisk bullet"></li>
        <li>
          <%= link_to('Op locatie', "#oplocatie", class: "nav-fix") %>
        </li>
        <li class="glyphicon glyphicon-asterisk bullet"></li>
        <li>
          <%= link_to('Volg ons', "#followus") %>
        </li>
        <li class="glyphicon glyphicon-asterisk bullet"></li>
        <li>
          <%= link_to('Contact', "#contact") %>
        </li>
      </ul>
  	</nav>
  	<hr>
	</div>
</div>

<%= render 'slider' %>
<%#= render :partial 'slider', locals: {galleries: @gallery} %>

<section class="content-block">
  <div class="wrapper">
    <div>
      <header>
        <h1 class="header-font">Welkom bij Tijger & de Vis</h1>
      </header>
      <hr>
      <div>
        <p>
          Tijger & de Vis staat voor ambacht en kwaliteit. Vis uit onze Noordzee, dagvers gevangen. Dit
          kenmerkt het assortiment van Tijger & de Vis. Huisgemaakte sauzen en salades, zelf ingemaakt zuur,
          en zoveel mogelijk gebruikmakend van plaatselijke producten benadrukt het ambacht van Tijger & de
          Vis. Terug naar de basis, maar helemaal van deze tijd en dat proef je!
        </p>
        <p>
          De drijvende kracht achter Tijger en de Vis is Erik Huibers. Als kok heeft Erik zijn passie voor eten ontwikkeld. Het Amstel hotel, Jean-Jean, waar hij een 9- kreeg van Johannes van Dam en NL in Soho New York, is maar een kleine greep uit de restaurants waar Erik zijn kunsten heeft vertoond. Als ondernemer heeft Erik zich ontwikkeld in de adviesvoering met betrekking tot duurzaamheid in de horeca bij Toffe Peer. Hij heeft met Noodelicious de biologische Japanse noodle op de Nederlandse markt geïntroduceerd. De laatste zes jaar heeft Erik zijn focus gelegd op de high-end internationale evenementenorganisatie met Food collective Amsterdam.
        </p>
        <p>
          Erik doet het allemaal niet alleen. Er staat een team van enthousiaste en bevlogen mensen achter hem, die hem helpen om Tijger en de Vis een succes te maken. Zowel in de keuken als in de winkel helpt het team je graag met jouw bestelling!
        </p>
        <p>
          <%= image_tag("erik.jpg", alt: "Erik Huibers", class: "content-image") %>
        </p>
      </div>
    </div>
  </div>
</section>



<section class="content-block">
  <div class="wrapper">
    <div>
      <header>
        <h1 class="header-font">Bestel</h1>
      </header>
      <hr>
      <div>
        
  
      </div>
    </div>
  </div>
</section>