<header class=" site-header" >
  <% if current_admin %>
    <%= link_to "Logout", destroy_admin_session_path, method: :delete %>
  <% end %>
	<span >
		<%= image_tag("tendvtrans-green.png", alt: "Tijger en de Vis", class: "img-responsive") %>
	</span>
  
</header>

<div class="sticky-wrapper">
	<div class="wrapper nav-wrapper">
  	<nav class="site-nav" role="navigation">
  		<ul class="desktop-nav pos-ul">
	  		<li class="active">
          <%= link_to('Welkom', "#welkom") %>
        </li>
        <li class="glyphicon glyphicon-asterisk bullet"></li>
        <li>
          <%= link_to('Bestel', "#bestel") %>
        </li>
        <li class="glyphicon glyphicon-asterisk bullet"></li>
        <li>
          <%= link_to('Assortiment', "#assortiment") %>
        </li>
        <li class="glyphicon glyphicon-asterisk bullet"></li>
        <li>
          <%= link_to('Op locatie', "#oplocatie", class: "nav-fix") %>
        </li>
        <!-- <li class="glyphicon glyphicon-asterisk bullet"></li>
        <li>
          <%#= link_to('Volg ons', "#followus") %>
        </li>
 -->        <li class="glyphicon glyphicon-asterisk bullet"></li> 
        <li>
          <%= link_to('Contact', "#contact") %>
        </li>
      </ul>
  	</nav>
  	<!-- <hr> -->
	</div>
</div>

<%= render 'slider' %>
<%#= render :partial 'slider', locals: {galleries: @gallery} %>

<!-- WELCOME -->

<section class="content-block">
  <div class="wrapper">
    <div>
      <header>
        <h1 class="header-font">Welkom bij Tijger & de Vis</h1>
      </header>
      <hr>
      <div>
        <p>
          Tijger & de Vis staat voor ambacht en kwaliteit. Vis uit onze Noordzee, dagvers gevangen. Dit
          kenmerkt het assortiment van Tijger & de Vis. Huisgemaakte sauzen en salades, zelf ingemaakt zuur,
          en zoveel mogelijk gebruikmakend van plaatselijke producten benadrukt het ambacht van Tijger & de
          Vis. Terug naar de basis, maar helemaal van deze tijd en dat proef je!
        </p>
        <p>
          De drijvende kracht achter Tijger en de Vis is Erik Huibers. Als kok heeft Erik zijn passie voor eten ontwikkeld. Het Amstel hotel, Jean-Jean, waar hij een 9- kreeg van Johannes van Dam en NL in Soho New York, is maar een kleine greep uit de restaurants waar Erik zijn kunsten heeft vertoond. Als ondernemer heeft Erik zich ontwikkeld in de adviesvoering met betrekking tot duurzaamheid in de horeca bij Toffe Peer. Hij heeft met Noodelicious de biologische Japanse noodle op de Nederlandse markt geïntroduceerd. De laatste zes jaar heeft Erik zijn focus gelegd op de high-end internationale evenementenorganisatie met Food collective Amsterdam.
        </p>
        <p>
          Erik doet het allemaal niet alleen. Er staat een team van enthousiaste en bevlogen mensen achter hem, die hem helpen om Tijger en de Vis een succes te maken. Zowel in de keuken als in de winkel helpt het team je graag met jouw bestelling!
        </p>
<!--         <p>
          <%#= image_tag("erik.jpg", alt: "Erik Huibers", class: "content-image") %>
        </p> -->
      </div>
    </div>
  </div>
</section>


<!-- BESTEL -->


<section class="content-block">
  <div class="wrapper">
    
      <header>
        <h1 class="header-font">Bestel</h1>
      </header>
      <hr>

      <div class="text-block">
        <div class="col-right">
          <div class="order-widget">
            <%= link_to 'Bestel nu!', root_path, class: "btn btn-tendv-red", id: "btn-fix"%>
            <h3>Openingstijden</h3>
            <p class="order-text">
            woensdag - vrijdag 12.00 tot 20.00 uur<br>
            zaterdag - 11.00 tot 20.00 uur<br>
            zondag   - 12.00 tot 20.00 uur<br>
            maandag & dinsdag gesloten
            </p>
          </div>
        </div>
        <div class="col-left">
          <p class="order-text">Zin in een lekker stuk vis, kreeft of misschien wel in een speciale bereiding die niet in het assortiment staat? Bestel dit dan bij ons.<br></p>
          <p class="order-text">
          Geef jouw bestelling aan ons door, wij nemen dezelfde dag binnen onze openingstijden contact met u op om de bestelling door te nemen en de kosten te bespreken.<br>
          +31 20 3311371<br>
          <a href="mailto:info@tijgerendevis.com">info@tijgerendevis.com</a></p>
          <p class="order-text"></p>
        </div>
      </div>
    
  </div>
</section>


<div class="container-fluid clear-padding">
  <div class="row no-gutter">
    <div class="col-md-12 clear-padding" id="home">
        <div id="mainslider" style="background-image: url('/assets/kibbeling.jpg')"></div> <!-- with this setup you can dynamicaly change background image -->
    </div>
  </div>
</div>
<!-- <section class="module parallax parallax-1">
</section> -->



<!-- ASSORTIMENT -->


<section class="content-block">
  <div class="wrapper">
    <div>
      <header>
        <h1 class="header-font">Assortiment</h1>
      </header>
      <hr>
      <div class="day-order-margin">
        <p>
          Dagschotels en dagelijkse specialiteiten
          Bij ons moet je zijn voor een heerlijk stukje vis met friet, pasta of stamppot. Een goed vullende dagschotel lekker voor tijdens de lunch of als diner. 
        </p>
        <p>
          Het concept is simpel, maak een keuze uit de vis van de dag, kibbeling, lekkerbek of krabburger. En maak je gerecht compleet met friet en salade, pasta of stamppot. En dat voor maar 12,5!
          Naast onze overheerlijke dagschotels kun je ook bij ons terecht voor kibbeling en lekkerbek, belegde broodjes, gemarineerde vis, en heerlijke salades. Eet het bij ons op in de winkel, neem het mee naar huis of laat het bezorgen.
        </p>
        <p>
          We hebben een wisselend menu. Afgestemd op de Nederlandse visvangst en op de tijd van het jaar. Loop bij ons langs voor het meest recente menu of bekijk het hier op de website.
        </p>
        <p>
        <%= link_to 'Menukaart Tijger en de Vis', asset_path("menukaart.pdf"), target: '_blank', class: "btn btn-tendv-red", id: "btn-fix" %>
        </p>
        <p>
          <%= image_tag("menubord.jpg", alt: "Haring", class: "content-image") %>
        </p>
        <h3>Dagspecialiteiten</h3>
        <p>
          Hou onze dagspecialiteit in de gaten om een graantje mee te pikken van de voordelen. 
        </p>
      </div>


      <ul class="dayorder-list">
        <li class="dayorder-container">
          <div class="day-container">
            <!-- <div class="dayorder-image"></div> -->
            <div id="tue" class="dayorder-details">
              <div class="details-wrapper">
                <h4>Dinsdag dagschotel</h4>
                <p>voor vis van de dag, kibbeling, lekkerbek of krabburger met friet en salade, pasta of stamppot</p>
              </div>
            </div>
          </div>
        </li>
      </ul>
      <ul class="dayorder-list">
        <li class="dayorder-container">
          <div class="day-container">
            <!-- <div class="dayorder-image"></div> -->
            <div id="wed" class="dayorder-details">
              <div class="details-wrapper">
                <h4>Woensdag kibbelingdag</h4>
                <p>
                  voor een portie vers gebakken kabeljauw in speltvolkoren beslag inclusief saus ravigotte, knoflook of whiskey 
                </p>
              </div>
            </div>
          </div>
        </li>
      </ul>
      <ul class="dayorder-list">
        <li class="dayorder-container">
          <div class="day-container">
            <!-- <div class="dayorder-image"></div> -->
            <div id="thur" class="dayorder-details">
              <div class="details-wrapper">
                <h4>Donderdag 5% korting op je rekening</h4>
                <p>
                 ongeacht de grootte van de bestelling ontvang je 5% korting op de totale rekening 
                </p>
              </div>
            </div>
          </div>
        </li>
      </ul>
      <ul class="dayorder-list">
        <li class="dayorder-container">
          <div class="day-container">
            <!-- <div class="dayorder-image"></div> -->
            <div id="fri" class="dayorder-details">
              <div class="details-wrapper">
                <h4>Vongele vrijdag</h4>
                <p>
                 een goed gevuld bord vongole in knoflook, dille, zwarte peper, en chilisaus, afgeblust met prosecco en geserveerd met een brood of pasta
                </p>
              </div>
            </div>
          </div>
        </li>
      </ul>
      <ul class="dayorder-list">
        <li class="dayorder-container">
          <div class="day-container">
            <!-- <div class="dayorder-image"></div> -->
            <div id="sat" class="dayorder-details">
              <div class="details-wrapper">
                <h4>Zaterdag Kibbelingdag</h4>
                <p>
                  voor een portie vers gebakken kabeljauw in speltvolkoren beslag inclusief saus ravigotte, knoflook of whiskey 
                </p>
              </div>
            </div>
          </div>
        </li>
      </ul>
      <ul class="dayorder-list">
        <li class="dayorder-container">
          <div class="day-container">
            <!-- <div class="dayorder-image"></div> -->
            <div id="sun" class="dayorder-details">
              <div class="details-wrapper">
                <h4>Zondag gratis bezorging in de buurt</h4>
                <p>
                  Woon je in de Staatslieden, Zeehelden, Haarlemmerplein, Jordaan of Gouden Reael dan bezorgt Tijger en de Vis het eten gratis
                </p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>


<!-- OP LOCATIE -->

<section class="content-block">
  <div class="wrapper">
    <div>
      <header>
        <h1 class="header-font">Op Locatie</h1>
      </header>
      <hr>
      <div>
        <p>
          <%= image_tag("oplocatie.jpg", alt: "Op Locatie", class: "content-image") %>
        </p>
        <p>
          Tijger & de Vis is nu ook beschikbaar op locatie!
          Door middel van een foodtruck is het nu ook mogelijk om Tijger & de Vis in te huren op locatie. Een feest op het werk, een partijtje in de tuin of een groot evenement, het is allemaal mogelijk.
        </p>
        <p>
          Voor het gemak geven we een aantal voorbeelden van de mogelijkheden. Het spreekt voor zich dat we alles afstemmen op jouw wensen. Laat ons weten wat je wil, we denken graag met je mee.
        </p>
        <p>
          <%= link_to 'Op locatie voorbeeld gerechten.', asset_path("opLocatieMenu.pdf"), target: '_blank', class: "btn btn-tendv-red", id: "btn-fix" %>
        </p>
        <p>
          Voor vragen kun je contact opnemen met Erik Huibers op 06 – 39 22 02 01 of via <a href="mailto:info@tijgerendevis.com">info@tijgerendevis.com</a>.
        </p>
        <p>
          <%= image_tag("tijgerdevis_oplocatie_menu.png", alt: "Op Locatie", class: "content-image") %>
        </p>
      </div>
    </div>
  </div>
</section>

<!-- VOLG ONS -->

<section class="content-block">
  <div class="wrapper">
    <div>
      <header>
        <h1 class="header-font">Volg Ons</h1>
      </header>
      <hr>
      <div class="text-block">
        <div class="col-right-social">
          <span class="icon-twitter icon"></span>
        </div>
        <div class="col-left-social">
          <span class="icon-instagram icon"></span>
        </div>
      </div>
    </div>
  </div>
</section>



<!-- CONTACT -->


<section class="content-block">
  <div class="wrapper">
    <div>
      <header>
        <h1 class="header-font">Contact</h1>
      </header>
      <hr>
      <div class="text-block clearfix">
        <div class="col-right-alt">
          <div class="contact">
            <%= form_tag("/static/thank_you") do %>
              <div class="form-group">
                <%= text_field_tag :name, nil, placeholder: "Naam", class: "form-control" %>
              </div><!-- end .form-group --> 
              <div class="form-group">
                <%= text_field_tag :email, nil, placeholder: "Email", class: "form-control", required: "required"%>
              </div><!-- end .form-group --> 
              <div class="form-group">
                <%= text_area_tag :message, nil, placeholder: "Bericht", class: "form-control" %>
              </div><!-- end .form-group --> 
              <div class="form-group">
                <%= submit_tag "Verzenden", class: "btn btn-tendv" %>
              </div>
            <% end %>
            <div class="vcard">
              <p>Tijger & de Vis</p>
              <p>Lindengracht 158</p>
              <p>1015 KK</p>
              <p>Amsterdam</p>
            </div>
          </div>
        </div>
        <div class="col-left-alt">
          <div id="map" style="width:100%;height:400px">

          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<div class="wrapper">
  <footer class="site-footer">
    <small>&copy; 2017 Tijger & de Vis</small>


  </footer>
</div>









