<!DOCTYPE html>
<html>
  <head>
    <title>SinglePageApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <%= yield %>

    
    <!-- ============================= -->
    <!-- All your JavaScript comes now -->
    <!-- ============================= -->


    <%= javascript_include_tag "today", "data-turbolinks-track" => true  %>

    <%= js add_gritter(flash[:notice], title: "Tijger en de Vis", sticky: false, time: 3000) %>

    <script>
      function initMap() {
        var tijgerEnDeVis = {lat: 52.380229, lng: 4.884260};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 19,
          center: tijgerEnDeVis
        });
        var marker = new google.maps.Marker({
          position: tijgerEnDeVis,
          map: map
          // animation: google.maps.Animation.BOUNCE
        });
      }
    </script>

    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{ENV['GOOGLE_API_KEY']}&callback=initMap" %>
  </body>
</html>



